<?xml version="1.0"?>
<!--
/**
 * @copyright Absolute Commerce Ltd.
 * @license https://abscom.co/terms
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Absolute_CacheBust::action" title="Absolute Cache Bust Buttons" translate="title" sortOrder="100"/>
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Absolute_CacheBust::config" title="Absolute Cache Bust Configuration" translate="title" sortOrder="100"/>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
