<?xml version="1.0"?>
<!--
/**
 * @copyright Absolute Commerce Ltd.
 * @license https://abscom.co/terms
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <absolute_cachebust>
            <update>
                <is_enabled>1</is_enabled>
                <feed_url>https://absolutecommerce.co.uk/absolute/update?extension=absolute_cachebust_m2</feed_url>
            </update>
            <static>
                <is_enabled>0</is_enabled>
                <template>version%s</template>
                <value>19700101010000</value>
            </static>
            <media>
                <is_enabled>0</is_enabled>
                <template>version%s</template>
                <value>19700101010000</value>
            </media>
        </absolute_cachebust>
    </default>
</config>
