<?xml version="1.0"?>
<!--
/**
 * @copyright Absolute Commerce Ltd.
 * @license https://abscom.co/terms
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="Absolute_CacheBust" frontName="Absolute_CacheBust">
            <module name="Absolute_CacheBust" before="Magento_Backend" />
        </route>
    </router>
</config>
