<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="absolute_commerce" translate="label" sortOrder="110">
            <label>Absolute Commerce Ltd.</label>
        </tab>
        <section id="absolute_cdncachebust"
                 translate="label"
                 type="text"
                 sortOrder="10"
                 showInDefault="1"
                 showInWebsite="1"
                 showInStore="1">
            <label>CDN CacheBust</label>
            <tab>absolute_commerce</tab>
            <resource>Absolute_CDNCacheBust::config</resource>
            <group id="static"
                   translate="label"
                   type="text"
                   sortOrder="10"
                   showInDefault="1"
                   showInWebsite="1"
                   showInStore="1">
                <label>Static URL Config</label>
                <comment><![CDATA[
                    Static Base URLs for the 'CDN Cache Busting' buttons under System > Cache Management.
                    <br />These URL values are used to update the Magento Static URLs to immediately invalidate the CDN cache.
                    <br />Each URL must contain the term <strong>%bust%</strong> which will be replaced by a dynamic value.
                    <br />Enter an empty value to disable at any default, website or store scope. 
                    <br /><br />]]></comment>
                <field id="unsecure_url"
                       translate="label comment"
                       type="text"
                       sortOrder="10"
                       showInDefault="1"
                       showInWebsite="1"
                       showInStore="1">
                    <label>Unsecure URL</label>
                </field>
                <field id="secure_url"
                       translate="label comment"
                       type="text"
                       sortOrder="20"
                       showInDefault="1"
                       showInWebsite="1"
                       showInStore="1">
                    <label>Secure URL</label>
                </field>
            </group>
            <group id="media"
                   translate="label"
                   type="text"
                   sortOrder="20"
                   showInDefault="1"
                   showInWebsite="1"
                   showInStore="1">
                <label>Media URL Config</label>
                <comment><![CDATA[
                    Media Base URLs for the 'CDN Cache Busting' buttons under System > Cache Management.
                    <br />These URL values are used to update the Magento Media URLs to immediately invalidate the CDN cache.
                    <br />Each URL must contain the term <strong>%bust%</strong> which will be replaced by a dynamic value.
                    <br />Enter an empty value to disable at any default, website or store scope.
                    <br /><br />]]></comment>
                <field id="unsecure_url"
                       translate="label comment"
                       type="text"
                       sortOrder="10"
                       showInDefault="1"
                       showInWebsite="1"
                       showInStore="1">
                    <label>Unsecure URL</label>
                </field>
                <field id="secure_url"
                       translate="label comment"
                       type="text"
                       sortOrder="20"
                       showInDefault="1"
                       showInWebsite="1"
                       showInStore="1">
                    <label>Secure URL</label>
                </field>
            </group>
        </section>
    </system>
</config>

