<?xml version="1.0"?>
<!--
/**
 * @copyright Absolute Commerce Ltd.
 * @license https://abscom.co/terms
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="dev">
            <group id="static">
                <field id="sign">
                    <comment><![CDATA[
                    <strong>Notice: this setting is not in use. See Absolute Commerce Cache Bust.</strong>
                    ]]></comment>
                </field>
            </group>
        </section>
        <tab id="absolute_commerce" translate="label" sortOrder="110">
            <label>Absolute Commerce</label>
        </tab>
        <section id="absolute_cachebust" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Absolute // Cache Bust</label>
            <tab>absolute_commerce</tab>
            <resource>Absolute_CacheBust::config</resource>
            <group id="info" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="1">
                <frontend_model>Absolute\CacheBust\Update\UpdateBlock</frontend_model>
            </group>
            <group id="static" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Static URLs</label>
                <field id="is_enabled" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="1">
                    <label>Enabled</label>
                    <source_model>Absolute\CacheBust\Model\Source\YesNo</source_model>
                    <comment>Enable / Disable appending Cache Busting segment to Static URLs.</comment>
                </field>
                <field id="template" translate="label comment" type="text" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="1">
                    <label>URL Template</label>
                    <comment><![CDATA[This will be included in your Static URL with '%s' replaced with a timestamp, eg: https://abscom.co/static/version12345/path/to/file.js. The default is: version%s]]></comment>
                </field>
            </group>
            <group id="media" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Media URLs</label>
                <field id="is_enabled" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="1">
                    <label>Enabled</label>
                    <source_model>Absolute\CacheBust\Model\Source\YesNo</source_model>
                    <comment>Enable / Disable appending Cache Busting segment to Media URLs.</comment>
                </field>
                <field id="template" translate="label comment" type="text" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="1">
                    <label>URL Template</label>
                    <comment><![CDATA[This will be included in your Media URL with '%s' replaced with a timestamp, eg: https://abscom.co/media/version12345/path/to/file.js. The default is: version%s]]></comment>
                </field>
            </group>
            <group id="update" translate="label" type="text" sortOrder="99999" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Update Notifications</label>
                <field id="is_enabled" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[Admin Panel notifications from Absolute Commerce with information about our extensions, products and services. Find out more at <a href="https://abscom.co/terms" target="_blank">https://abscom.co/terms</a>.]]></comment>
                </field>
            </group>
        </section>
    </system>
</config>
