<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="absolute_commerce" translate="label" sortOrder="110">
            <label>Absolute Commerce Ltd.</label>
        </tab>
        <section id="absolute_cdncachebust"
                 translate="label"
                 type="text"
                 sortOrder="10"
                 showInDefault="1"
                 showInWebsite="1"
                 showInStore="1">
            <label>CDN CacheBust</label>
            <tab>absolute_commerce</tab>
            <resource>Absolute_CDNCacheBust::config</resource>
            <group id="static"
                   translate="label"
                   type="text"
                   sortOrder="10"
                   showInDefault="1"
                   showInWebsite="1"
                   showInStore="1">
                <label>Static URL Config</label>
                <field id="unsecure_url"
                       translate="label comment"
                       type="text"
                       sortOrder="10"
                       showInDefault="1"
                       showInWebsite="1"
                       showInStore="1">
                    <label>Unsecure URL</label>
                </field>
                <field id="secure_url"
                       translate="label comment"
                       type="text"
                       sortOrder="20"
                       showInDefault="1"
                       showInWebsite="1"
                       showInStore="1">
                    <label>Secure URL</label>
                </field>
            </group>
            <group id="media"
                   translate="label"
                   type="text"
                   sortOrder="20"
                   showInDefault="1"
                   showInWebsite="1"
                   showInStore="1">
                <label>Media URL Config</label>
                <field id="unsecure_url"
                       translate="label comment"
                       type="text"
                       sortOrder="10"
                       showInDefault="1"
                       showInWebsite="1"
                       showInStore="1">
                    <label>Unsecure URL</label>
                </field>
                <field id="secure_url"
                       translate="label comment"
                       type="text"
                       sortOrder="20"
                       showInDefault="1"
                       showInWebsite="1"
                       showInStore="1">
                    <label>Secure URL</label>
                </field>
            </group>
        </section>
    </system>
</config>

